{% extends 'base.html' %}
{% block content %}
    {% include 'includes/header.html' %}
    {% include 'includes/search_bar.html' %}

    <main style="max-width: 1200px; margin: 0 auto; padding: 20px;">
        <div id="results-area" style="display: none; margin-bottom: 30px;"></div>

        {% include 'includes/services_hub.html' %}
        {% include 'includes/community_voice.html' %}
        {% include 'includes/legal_library.html' %}
    </main>

    <div id="generator-template-source" style="display: none;">
        {% include 'includes/generator.html' %}
    </div>

    {% include 'includes/scripts.html' %}
{% endblock %}
